/* body{
    background-color: black;
} */
.hero3{
    padding: 7vw 5vw;
}
.hero3-h1-div{
    text-align: center;
    margin-bottom: 80px;
}
.question-div{
    display: flex;
    flex-direction: column;
    padding: 0 10vw 0 10vw;
}
.question-plus-minus{
    display: flex;
    
    padding: 32px 0px;
    justify-content: space-between;
    align-items: center;
}
.question-div i{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}
.question-plus-minus .minus{
    display: none;
    font-size: 24px;
}
.question-plus-minus .plus{
    font-size: 24px;
}

#text{
    display: none;
}




@media (max-width: 35rem){


    .hero3{
        padding: 120px 5vw 120px 5vw;
        
    }
    .hero3-h1-div{
        text-align: center;
        margin-bottom: 32px;
    }
    .question-div{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}